body

{
    margin: 0;
}



.container

{
    width: 1000px;
    margin: 0 auto;
}


header .container

{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 12px;
}



nav ul li

{
    display: inline-block;
    padding-right: 15px;
}



nav ul li a 

{
    text-decoration: none;
    color: black;
    font-size: 1.1em;   
}



#ancre_bluesticked a

{
    border-top: 2px solid rgb(96, 174, 209);   
    padding-top: 20px;

}



.ancre_border a:hover

{
    border-top: 2px solid rgb(96, 174, 209);
    padding-top: 20px;
}




#banner_image

{
    background-image: url('images/slider/bg1.jpg');
    position: relative;
    background-size: cover;
    height: 500px;
    background-position: center;
}



#banner_description_center

{
    position: absolute;
    top: 180px;
    left: 100px;
    color: white;
}



.button_blue

{
    background-color: rgb(84, 161, 197);
    color: white;
    padding: 8.5px;
    box-shadow: 0px 0.2px 0px 0.2px black;
    border: none;
    border-radius: 2px;
}



#banner_description_center span

{
    color: rgb(96, 174, 209);
}


#bckground_transition

{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(96, 174, 209);
    height: 3px;
    width: 100%;
    transition-property: background-color;
    animation: loader 8s infinite ease;
}


@keyframes loader

{
    from {width: 0%} to {width: 100%}
}



#arrow_position

{
    display: flex;
    justify-content: space-between;
    height: 550px;
    align-items: center;
}

#arrow-left_position, #arrow-right_position  

{
    background-color: rgba(0,0,0, 0.2);
    color: white;
    padding: 20px 13px;
    border-radius: 0px 50px 50px 0px;

}

/*
#arrow-left_position 

{
    position: relative;
    top: 50%;
    color: white;
    background-color: black;
}


#arrow-right_position


{
    position: relative;
    top: 46.4%;
    left: 1192px;
    color: white;
}





