body

{
    margin: 0;
    font-family: sans-serif;
}



.container

{
    width: 1280px;
    margin: 0 auto;
}


header .container

{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 12px;
}



nav ul li

{
    display: inline-block;
    padding-right: 15px;
}



nav ul li a 

{
    text-decoration: none;
    color: black;
    font-size: 1.1em;   
}



#ancre_bluesticked a

{
    border-top: 2px solid rgb(96, 174, 209);   
    padding-top: 20px;

}



.ancre_border a:hover

{
    border-top: 2px solid rgb(96, 174, 209);
    padding-top: 20px;
}




#banner_image

{
    background-image: url('images/slider/bg1.jpg');
    position: relative;
    background-size: cover;
    height: 500px;
    background-position: center;
}



#banner_description_center

{
    position: absolute;
    top: 180px;
    left: 100px;

    color: white;
}



.button_blue

{
    background-color: rgb(84, 161, 197);
    color: white;
    padding: 8.5px;
    border: none;
    border-radius: 2.5px;
    font-size: 16.5px;
}



#banner_description_center span

{
    color: rgb(96, 174, 209);
}


#bckground_transition

{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(96, 174, 209);
    height: 3px;
    width: 100%;
    transition-property: background-color;
    animation: loader 8s infinite ease;
}


@keyframes loader

{
    from {width: 0%} to {width: 100%}
}



#arrow_position

{
    display: flex;
    justify-content: space-between;
    height: 550px;
    align-items: center;
}

#arrow-left_design  

{
    background-color: rgba(0,0,0, 0.2);
    color: white;
    padding: 20px 14px;
    border-radius: 0px 50px 50px 0px;
    font-size: 20px;
}

#arrow-right_design

{
    background-color: rgba(0,0,0, 0.2);
    color: white;
    padding: 20px 15px;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
}


.container_section

{
    width: 800px;
    margin: 0 auto;
}


.description_center

{

    text-align: center;
}



.description_center h1

{
    font-size: 36px;
    margin-bottom: 15px;
}


hr

{
    width: 6%;
    margin-left: 3.5px;
    margin-right: 3.5px;
    opacity: 0.2;
}


#container-services_display

{
    display: flex;
}


.ball_display

{
    display: flex;
    justify-content: center;
}


.ball_design

{
    color: rgb(82, 162, 201);
    font-size: 14px;
}


.circle 

{
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 75px;
    border: 1px solid grey;
}


.icon_placement

{
    position: relative;
    left: 24px;
    top: 22px;
}


.icon_placement2

{
    position: relative;
    left: 66px;
}


















